body {
  font-family: Arial, sans-serif;
}

header h1,
header h2 {
  color: #115073;
  font-size: 14px;
}

header h2 {
  font-size: 11px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  flex-direction: row;
}

.logo_section {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 5px 0;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin: 5px 0;
}

input[type="text"] {
  margin: 5px 0;
  width: 200px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-group label {
  margin-right: 10px;
}

button {
  background-color: #76a01f;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  margin-top: 30px;
}

button:hover {
  background-color: #004d26;
}

footer {
  font-size: 0.8em;
  margin-top: 50px;
}

.headingtransentry {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.headingtransentry h1 {
  color: black;
  font-size: 22px;
  margin-bottom: 10px; /* Adjust as needed */
}

.headingtransentry ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; /* Centers the menu if parent div has text-align: center */
}

.headingtransentry li {
  display: inline;
}

.headingtransentry li.menuTop a {
  text-decoration: none;
  color: #1a6395;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px;
  border-right: 1px solid #cccccc; /* Separator */
}

.headingtransentry li.menuTop:first-child a {
  padding-left: 0; /* Remove separator from last item */
}

.headingtransentry li.menuTop:last-child a {
  border-right: none; /* Remove separator from last item */
}

/* Optional: hover effect */
.headingtransentry li.menuTop a:hover {
  text-decoration: underline;
}

ul.sidenav {
  list-style: none;
  margin-left: 30px;
  color: #1a6395;
  font-size: 14px;

  li::before {
    content: "▶ ";
    padding-right: 20px;
    font-size: 12px;
    color: #b6b6b6;
  }

  li {
    margin-bottom: 12px;

    a {
      padding-left: 10px;
      font-size: 14px;
      text-decoration: underline;

      &:hover {
        color: #ffc337;
        cursor: pointer;
      }
    }
  }
}
